* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 1.25rem;
}

body {
    overflow-x: hidden;
    background-color: #f6f6f6;
}

button:hover {
    cursor: pointer;
}

/* general end */

/* high__card start */

.high__card {
    width: 100%;
    height: auto;
}

.high__card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* high__card end */

/* =================================================================================== */

/* nav start */

.nav {
    padding-top: 0.625rem;
    position: relative;
    top: -0.3125rem;
    background-color: #FFF;
    z-index: 1001;
}

.nav__cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__card-image {
    padding: 0.625rem;
}

.nav__card-list {
    padding: 0.625rem 10rem 0.625rem 0.625rem;
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
}

.nav__card-item {
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
}

.nav__card-link {
    color: #121212;
    text-decoration: none;
}

.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    padding: 0.625rem;
}

.hamburger div {
    width: 25px;
    height: 3px;
    background: #121212;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -100%;
    width: 40%;
    height: 100%;
    background: #009DFF;
    color: white;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    transition: left 0.3s ease;
    z-index: 1000;
    font-family: 'Inter', sans-serif;
}

.sidebar h2 {
    margin-bottom: 1rem;
    text-align: center;
    border-bottom: 2px solid white;
    padding-bottom: 0.5rem;
    text-transform: uppercase;
}

.sidebar a {
    text-decoration: none;
    color: white;
    border-bottom: 1px solid white;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 500;
}

.overlay.active {
    display: block;
}

.sidebar.active {
    left: 0;
}

/* nav end */

/* =================================================================================== */

/* main start */

main {

    margin-bottom: 200px;
}


.main__section-cards {
    display: flex;
    flex-direction: column;
}

.main__section-card {
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
}

.main__section-box {
    padding: 0.625rem;
}

.main__section-box img:hover,
.main__section-text:hover,
.main__section-txt:hover {
    cursor: pointer;
}

.main__section-card img {
    width: 100%;
    height: 320px;
    text-align: center;
    object-fit: cover;
    position: relative;
    border-radius: 20px;
}

.section__column {
    display: flex;
    object-fit: cover;
}

.main__section-card__box {
    display: flex;
    justify-content: space-between;
    padding: 1.25rem;
}

.main-section-title {
    font-size: 2rem;
    font-family: 'Inter', sans-serif;
}

.main__section-link {
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
}

.main__section-img__bottom {
    position: relative;
    left: 20px;
    bottom: 80px;
    color: #FFF;
    font-family: 'Inter', sans-serif;
}

.main__section-text {
    font-size: 1rem;
    padding-bottom: 0.625rem;
    color: rgb(213, 213, 213);
    letter-spacing: 1px;
}

.main__section-txt {
    font-size: 1.5rem;
    letter-spacing: 1px;

}
/* 
.main__section-card {
    opacity: ;
    transform: translateY(-50px);
    transition: all 0.6s ease;
    transition-delay: 0s;
}

.main__section-card.show {
    opacity: 1;
    transform: translateY(0);
} */



/* .main__section-cards {
    display: flex;
    flex-direction: column;
}

.main__section-card {
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
}

.main__section-box {
    padding: 0.625rem;
}

.main__section-box img:hover,
.main__section-text:hover,
.main__section-txt:hover {
    cursor: pointer;
}

.main__section-card img {
    width: 100%;
    height: 320px;
    text-align: center;
    object-fit: cover;
    position: relative;
    border-radius: 20px;
}

.section__column {
    display: flex;
    object-fit: cover;
}

.main__section-card__box {
    display: flex;
    justify-content: space-between;
    padding: 1.25rem;
}

.main-section-title {
    font-size: 2rem;
    font-family: 'Inter', sans-serif;
}

.main__section-link {
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
}

.main__section-img__bottom {
    position: relative;
    left: 20px;
    bottom: 80px;
    color: #FFF;
    font-family: 'Inter', sans-serif;
}

.main__section-text {
    font-size: 1rem;
    padding-bottom: 0.625rem;
    color: rgb(213, 213, 213);
    letter-spacing: 1px;
}

.main__section-txt {
    font-size: 1.5rem;
    letter-spacing: 1px;
}

.main__section-card {
    opacity: 0;
    transform: translateY(-50px);
    transition: all 0.6s ease;
    transition-delay: 0s;
}

.main__section-card.show {
    opacity: 1;
    transform: translateY(0);
} */




/* main end */